
    body {
      background-image: url('https://images.unsplash.com/photo-1570884745218-1275bb172d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
      font-family: Montserrat, sans-serif;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;}

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .transbox {                      /*transparent box for text*/
      margin-left: auto;
      margin-right: auto;
      height: 600px;
      width: 80%;
      /*background-color: #ffffff !important;
      border: 2px solid black;
      background: #FAEBD7 !important;*/
      position: relative;
      background: rgba(204, 204, 204, 0.6);
      border: 0;
      display: inline-block;
      white-space: nowrap;
    }

  button {
    background-color: #a78db8 !important;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid rgba(0,0,0,0.5);
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
    background-color: #e6d0f4 !important;
  }
  .container {
    padding: 16px;

    /*background-color: rgb(218, 143, 45);*/
  }

    .navbar {
    margin-bottom: 0;
    background-color: #a78db8 !important;
    z-index:5;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    box-shadow: 5px 3px 20px #000000;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #000000 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #a78db8 !important;
    background-color: #000000 !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000000 !important;
  }
    .jumbotron {
    background-color: #a78db8;
    color: #000000;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;

  }
